@charset "utf-8";

p{
	color:darkgrey;
	text-decoration: none;
}

------------------------------------------------

strong{
	color:red;
}

------------------------------------------------

.front{
	color:green;
}

------------------------------------------------

#end{
	font-weight: bold;
}