@charset "utf-8";
html{
}
body {
    margin: 0px;
    padding-top: 70px;
}
.gnb {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: #000;
    z-index: 10;
}
.tab_menu {
    padding-left: 0px;
    list-style: none;
    border-bottom: 2px solid #555;
}
.tab_menu:after {
    clear: both;
    display: block;
    content: '';
}

li {
    float: left;
    border: 1px solid #ccc;
    border-bottom: 0px;
}
a {
    display: block;
    width: 118px;
    font-weight: bold;
    line-height: 45px;
    color: #555;
    text-align: center;
    text-decoration: none;
}

li:hover{
    border-color: #555;
}

li:hover a {
    background-color: #555;
    color: #fff;
}
.orthe_size {
    width: 158px;
}




























