@charset "utf-8";

html {
    background-color: #e6e9e9;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

/*
p {
    color: blue;
    text-decoration: underline;
}
*/
/*
button {
    color: aquamarine;
    border-bottom-color: aqua;
}
*/
strong {
    color: red;
/*    font-size: 20px;*/
}
legend {
    color: aqua;
    font-size: 25px;
    background-color: black;
}

.front {
    color: green;
}
#end {
    font-weight: bold;
}

a:link {
    color: #ff0000;
}
a:visited {
    color: darkgray;
}
a:hover {
    color: red;
}
a:activer {
    color: yellowgreen;
}
table{
    align-content: center;
    align-items: center;
/*
    margin-left: auto;
    margin-right: auto;
*/
}